[submodule "emacs/lsp-mode"]
	path = emacs/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "emacs/lsp-javascript"]
	path = emacs/lsp-javascript
	url = https://github.com/emacs-lsp/lsp-javascript.git
[submodule "servers/javascript-typescript-langserver"]
	path = servers/javascript-typescript-langserver
	url = https://github.com/sourcegraph/javascript-typescript-langserver
