[submodule "emacs/lsp-mode"]
	path = emacs/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "emacs/lsp-javascript"]
	path = emacs/lsp-javascript
	url = https://github.com/emacs-lsp/lsp-javascript.git
[submodule "servers/javascript-typescript-langserver"]
	path = servers/javascript-typescript-langserver
	url = https://github.com/sourcegraph/javascript-typescript-langserver
[submodule "emacs/company-mode"]
	path = emacs/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs/company-quickhelp"]
	path = emacs/company-quickhelp
	url = https://github.com/expez/company-quickhelp.git
[submodule "emacs/pos-tip"]
	path = emacs/pos-tip
	url = https://github.com/syohex/pos-tip.git
[submodule "emacs/company-lsp"]
	path = emacs/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
[submodule "emacs/s"]
	path = emacs/s
	url = https://github.com/magnars/s.el.git
[submodule "emacs/dash"]
	path = emacs/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs/deferred"]
	path = emacs/deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "emacs/flycheck"]
	path = emacs/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "emacs/lsp-go"]
	path = emacs/lsp-go
	url = https://github.com/emacs-lsp/lsp-go.git
[submodule "emacs/lsp-haskell"]
	path = emacs/lsp-haskell
	url = https://github.com/emacs-lsp/lsp-haskell.git
[submodule "emacs/lsp-rust"]
	path = emacs/lsp-rust
	url = https://github.com/emacs-lsp/lsp-rust.git
[submodule "emacs/lsp-php"]
	path = emacs/lsp-php
	url = https://github.com/emacs-lsp/lsp-php.git
[submodule "emacs/lsp-python"]
	path = emacs/lsp-python
	url = https://github.com/emacs-lsp/lsp-python.git
[submodule "emacs/lsp-ocaml"]
	path = emacs/lsp-ocaml
	url = https://github.com/emacs-lsp/lsp-ocaml.git
[submodule "emacs/lsp-java"]
	path = emacs/lsp-java
	url = https://github.com/emacs-lsp/lsp-java.git
[submodule "servers/haskell-ide-engine"]
	path = servers/haskell-ide-engine
	url = https://github.com/haskell/haskell-ide-engine
[submodule "tests/fixtures/go/Helen"]
	path = tests/fixtures/go/Helen
	url = https://github.com/tf2stadium/Helen
